<h2>Authors</h2>
<ul>
	<li>
		<strong>Martin Becker</strong><br/>
		University of Würzburg<br/>
		<a href="http://www.is.informatik.uni-wuerzburg.de/staff/becker/">http://www.is.informatik.uni-wuerzburg.de/staff/becker</a>
	</li>
	
	
	<li>
		<strong>Hauke Mewes</strong><br/>
		University of Würzburg<br/>
	</li>
	
		
	<li>
		<strong>Andreas Hotho</strong><br/>
		University of Würzburg<br/>
		<a href="http://www.is.informatik.uni-wuerzburg.de/staff/hotho/">http://www.is.informatik.uni-wuerzburg.de/staff/hotho/</a>
	</li>
		
	<li>
		<strong>Dimitar Dimitrov</strong><br/>
		GESIS - Leibniz Institute for the Social Sciences<br/>
		<a href="http://www.dimitardimitrov.info">http://www.dimitardimitrov.info</a>
	</li>
	
	<li>
		<strong>Florian Lemmerich</strong><br/>
		GESIS - Leibniz Institute for the Social Sciences<br/>
		<a href="http://www.is.informatik.uni-wuerzburg.de/staff/lemmerich/">http://www.is.informatik.uni-wuerzburg.de/staff/lemmerich/</a>
	</li>
		
	<li>
		<strong>Markus Strohmaier</strong><br/>
		GESIS - Leibniz Institute for the Social Sciences and University of Koblenz-Landau<br/>
		<a href="http://www.gesis.org/das-institut/mitarbeiterverzeichnis/?name=markus%2Cstrohmaier">http://www.gesis.org/das-institut/mitarbeiterverzeichnis/?name=markus%2Cstrohmaier</a>
	</li>
</ul>