---
layout: default
---
<div class="container">
	<a class="anchor" id="about"></a>
	<div class="page-header">
		<h1>SparkTrails</h1>
		<p class="lead">SparkTrails is a MapReduce implementation of HypTrails based on <a href="http://spark.apache.org/">Apache Spark</a> and enables fast, scalable and distributed comparison of hypotheses about human trails.</p>
	</div>
	<p>
		For a primer, we refer to the paper introducing SparkTrails and as well as the original HypTrails paper.
		In the following 
			we give additional details on the SparkTrails and how to use it,
			and elaborate on the evaluation we have conducted in the SparkTrails paper.
	</p>
	<div class="publications">
		<ul>
			<li class="details">
				<b>Martin Becker, Hauke Mewes, Andreas Hotho, Dimitar Dimitrov, Florian Lemmerich, Markus Strohmaier</b><br/>
				<a href="http://dmir.org/pub/2016/sparktrails.pdf">SparkTrails: A MapReduce Implementation of HypTrails for Comparing Hypotheses About Human Trails</a><br/>
				<i>Proceedings of the 25th International Conference on World Wide Web, 2016</i>
			</li>
			<li class="details">
				<b>Philipp Singer, Denis Helic, Andreas Hotho, Markus Strohmaier</b><br/>
				<a href="http://www.www2015.it/documents/proceedings/proceedings/p1003.pdf">HypTrails: A Bayesian Approach for Comparing Hypotheses About Human Trails on the Web</a><br/>
				<i>Proceedings of the 24th International Conference on World Wide Web, 2015</i>
			</li>
		</ul>
	</div>
</div>

<div class="container">
	<a class="anchor" id="quickstart"></a>
	{% include content/code.html %}
</div>

<div class="container">
	<a class="anchor" id="evaluation"></a>
    {% include content/evaluation.html %}
	
</div>

<div class="container">
	<a class="anchor" id="authors"></a>
    {% include content/authors.html %}
</div>

<div class="container">
	<a class="anchor" id="contact"></a>
    {% include content/contact.html %}
</div>